<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="dodasoft_tab" translate="label" sortOrder="1" class="dodasoft_logo">
            <label>DodaSoft</label>
        </tab>
    </system>
</config>
